#OptionsBar {
  position: fixed !important;
  z-index: 1000;
  background-color: transparent;
  transition: all 0.3s ease-in-out;
  top: 0;
  right: 15px;
  width: calc(100% - 110px) !important;
}
.sidebar-collapsed#OptionsBar {
  width: calc(100% - 280px) !important;
}
